/data
/logs
/api-files
/mcp-files
/condor-files
/dca-live-data
/dca-macro-data
/account-inventory-data
/grid-live-fdusd-data
/portfolio-grid-data
/portfolio-grid-fdusd-data
/release_packages
/.deploy-backups
/deploy-backups
/build
/dist
/.git
/.github
.DS_Store
/conf_backup
/conf/strategies/*.yml
/conf/*.yml
/conf/gateway_connections.json
/conf/.password_verification
/conf/connectors/*.yml
