--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.11.0+cu126
joblib==1.4.2
lightgbm==4.7.0
nbclient==0.10.2
nbformat==5.10.4
numpy==2.2.5
pandas==2.3.1
plotly==6.0.1
pyarrow==19.0.0
requests==2.34.1
scikit-learn==1.6.1
xgboost==3.3.0
pytest==8.4.1
ipykernel==6.29.5
